In [33]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [22]:
dem_data = pd.read_csv("data/dem_data.csv")
dem_data = dem_data.rename(columns={"Location":"state"})
dem_data = dem_data.dropna()
dem_data.head(3)

,state,Population Estimate (as of July 1) - 2018 - Both Sexes; Total,Population Estimate (as of July 1) - 2018 - Male; Total,Population Estimate (as of July 1) - 2018 - Female; Total,Population Estimate (as of July 1) - 2018 - Both Sexes; Total - Under 5 years,Population Estimate (as of July 1) - 2018 - Male; Total - Under 5 years,Population Estimate (as of July 1) - 2018 - Female; Total - Under 5 years,Population Estimate (as of July 1) - 2018 - Both Sexes; Total - 5 to 9 years,Population Estimate (as of July 1) - 2018 - Male; Total - 5 to 9 years,Population Estimate (as of July 1) - 2018 - Female; Total - 5 to 9 years,...,Population Estimate (as of July 1) - 2018 - Female; Total - 75 to 79 years,Population Estimate (as of July 1) - 2018 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2018 - Male; Total - 80 to 84 years,Population Estimate (as of July 1) - 2018 - Female; Total - 80 to 84 years,Population Estimate (as of July 1) - 2018 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2018 - Male; Total - 85 years and over,Population Estimate (as of July 1) - 2018 - Female; Total - 85 years and over,Population Estimate (as of July 1) - 2018 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2018 - Male; Median age (years),Population Estimate (as of July 1) - 2018 - Female; Median age (years)
0,United States,327167434,161128679,166038755,19810275,10132202,9678073,20195642,10315990,9879652,...,5122392,6127308,2590366,3536942,6544503,2325693,4218810,38.2,36.9,39.5
1,Alabama,4887871,2364115,2523756,293203,149264,143939,297900,152067,145833,...,84943,98450,40077,58373,89865,30133,59732,39.2,37.8,40.7
2,Alaska,737438,384573,352865,53115,27082,26033,52056,26798,25258,...,6960,7710,3521,4189,6853,2594,4259,34.6,34.1,35.1

In [23]:
covid_data = pd.read_csv("data/us-states.csv")
covid_data = covid_data.dropna()
covid_data.head(3)

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0

In [48]:
df1 = covid_data.merge(dem_data,on="state")
df1 = pd.get_dummies(df1, columns=["state"])

df1.head(3)

,date,fips,cases,deaths,Population Estimate (as of July 1) - 2018 - Both Sexes; Total,Population Estimate (as of July 1) - 2018 - Male; Total,Population Estimate (as of July 1) - 2018 - Female; Total,Population Estimate (as of July 1) - 2018 - Both Sexes; Total - Under 5 years,Population Estimate (as of July 1) - 2018 - Male; Total - Under 5 years,Population Estimate (as of July 1) - 2018 - Female; Total - Under 5 years,...,state_South Dakota,state_Tennessee,state_Texas,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
0,2020-01-21,53,1,0,7535591,3769911,3765680,462701,237614,225087,...,0,0,0,0,0,0,1,0,0,0
1,2020-01-22,53,1,0,7535591,3769911,3765680,462701,237614,225087,...,0,0,0,0,0,0,1,0,0,0
2,2020-01-23,53,1,0,7535591,3769911,3765680,462701,237614,225087,...,0,0,0,0,0,0,1,0,0,0

In [49]:
target_column = df1['deaths'] 
predictors = list(set(list(df1.columns))-set(target_column)-set(df1['date']))
df1[predictors] = df1[predictors]/df1[predictors].max()
df1.describe()

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [47]:
X = df1[predictors].values
y = df1[target_column].values

KeyError: "None of [Int64Index([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,\n            ...\n            50, 50, 51, 51, 52, 53, 54, 57, 58, 59],\n           dtype='int64', length=3806)] are in the [columns]"

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

dtree = DecisionTreeRegressor(max_depth=8, min_samples_leaf=0.13, random_state=3)

dtree.fit(X_train, y_train)

In [ ]:
#RF model
model_rf = RandomForestRegressor(n_estimators=500, oob_score=True, random_state=100)
model_rf.fit(X_train, y_train) 
pred_train_rf= model_rf.predict(X_train)
print(np.sqrt(mean_squared_error(y_train,pred_train_rf)))
print(r2_score(y_train, pred_train_rf))

pred_test_rf = model_rf.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,pred_test_rf)))
print(r2_score(y_test, pred_test_rf))